<section class='pure-u-1 page'>
  <div class='wrapper'>
    <h1>FAQ</h1>
		<div class='pure-g'>
			<h2 class='pure-u-1'>FAQ</h2>
			<a class='pure-u-1 faq' ng-click="faqId1 = !faqId1" ng-init='faqId1 = false'>
				<div>
					<h3 data-ng-class="{'active': faqId1 === true}">What is Wallex?
					<span data-ng-if='faqId1 === false' class='icon-plus'></span>
					<span data-ng-if='faqId1 === true' class='icon-minus'></span>
					</h3>
					<div ng-show='faqId1 == true' class='answer pure-u-1'>
					<p>The internet has improved our lives in many ways but yet corporate payments remain left behind in the form of old and clunky banking systems. Wallex aims to provide customers with a powerful digital treasury and financing solution that allows customers to perform spot conversions, forward hedge and make immediate or schedule payments all via our electronic platform.  </p></div>
				</div>
			</a>
			<h2 class='pure-u-1'>Payments</h2>
			<a class='pure-u-1 faq' ng-click="faqId2 = !faqId2" ng-init='faqId2 = false'>
				<div>
					<h3 data-ng-class="{'active': faqId2 === true}">Why should I use Wallex for payments?
					<span data-ng-if='faqId2 === false' class='icon-plus'></span>
					<span data-ng-if='faqId2 === true' class='icon-minus'></span>
					</h3>
					<div ng-show='faqId2 == true' class='answer pure-u-1'>
					<p>When you make payments with the banks, not only are you charged a high processing fee, you are also charged a wide FX spread. The process is also lengthy and troublesome.</p><p>With Wallex, not only do we give you access to rates that can slash your transaction costs by as much as 70%, you are also able to make payments in as fast as 2 minutes.</p></div>
				</div>
			</a>
			<a class='pure-u-1 faq' ng-click="faqId3 = !faqId3" ng-init='faqId3 = false'>
				<div>
					<h3 data-ng-class="{'active': faqId3 === true}">What currencies can I pay in?
					<span data-ng-if='faqId3 === false' class='icon-plus'></span>
					<span data-ng-if='faqId3 === true' class='icon-minus'></span></h3>
					<div ng-show='faqId3 == true' class='answer pure-u-1'>
						<p>You may refer to this list. (Currencies and Fees.)</p>
					</div>
				</div>
			</a>
			<a class='pure-u-1 faq' ng-click="faqId4 = !faqId4" ng-init='faqId4 = false'>
				<div>
					<h3 data-ng-class="{'active': faqId4 === true}">How much does Wallex charge?
					<span data-ng-if='faqId4 === false' class='icon-plus'></span>
					<span data-ng-if='faqId4 === true' class='icon-minus'></span></h3>
					<div ng-show='faqId4 == true' class='answer pure-u-1'>
						<p>Wallex obtains the interbank FX rates and pass it on to our customers. We only charge a small processing fee to get by.Wallex charges a flat % fee based on the currencies that you wish to make a payment in. The conversion is done for you at the mid-market rate. Say goodbye to obscure FX spreads and Hello to price transparency!</p><p>You may refer to this list. (Currencies and Fees.)</p>
					</div>
				</div>
			</a>
			<a class='pure-u-1 faq' ng-click="faqId5 = !faqId5" ng-init='faqId5 = false'>
				<div>
                  <h3 data-ng-class="{'active': faqId5 === true}">How does Wallex earn by charging so little fees?
					<span data-ng-if='faqId5 === false' class='icon-plus'></span>
					<span data-ng-if='faqId5 === true' class='icon-minus'></span></h3>
					<div ng-show='faqId5 == true' class='answer pure-u-1'>
                          <p>Banks have always maintained big profit margins on FX conversions by keeping the bid-ask spread wide. We believe that the time has come for the practice to end and we only need to charge a small processing fee to get by.</p>
					</div>
				</div>
			</a>
			<a class='pure-u-1 faq' ng-click="faqId6 = !faqId6" ng-init='faqId6 = false'>
				<div>
					<h3 data-ng-class="{'active': faqId6 === true}">How long does a payment take? 
					<span data-ng-if='faqId6 === false' class='icon-plus'></span>
					<span data-ng-if='faqId6 === true' class='icon-minus'></span></h3>
					<div ng-show='faqId6 == true' class='answer pure-u-1'>
						<p>You can expect your funds to reach in 1-3 working days upon our receipt of your funds when you make a payment.</p>
					</div>
				</div>
			</a>
			<a class='pure-u-1 faq' ng-click="faqId7 = !faqId7" ng-init='faqId7 = false'>
				<div>
					<h3 data-ng-class="{'active': faqId7 === true}">Do I have to convert and make a payment at the same time?
					<span data-ng-if='faqId7 === false' class='icon-plus'></span>
					<span data-ng-if='faqId7 === true' class='icon-minus'></span></h3>
					<div ng-show='faqId7 == true' class='answer pure-u-1'>
						<p>No. You may convert first, and choose to make a payment later. Upon conversion, you will see your balance in the converted currency and you may use that balance for payments whenever you need to.</p>
						<p>For customers who want to make a quick 2-in-1 conversion and payment, they may do so via our website.</p>
					</div>
				</div>
			</a>
			<a class='pure-u-1 faq' ng-click="faqId8 = !faqId8" ng-init='faqId8 = false'>
				<div>
					<h3 data-ng-class="{'active': faqId8 === true}">Why must I upload an invoice?
					<span data-ng-if='faqId8 === false' class='icon-plus'></span>
					<span data-ng-if='faqId8 === true' class='icon-minus'></span></h3>
					<div ng-show='faqId8 == true' class='answer pure-u-1'>
						<p>Wallex only processes payments and require an invoice to proof that each transaction is a payment for goods or services.</p>
					</div>
				</div>
			</a>
			<h2 class='pure-u-1'>Balances</h2>
			<a class='pure-u-1 faq' ng-click="faqId9 = !faqId9" ng-init='faqId9 = false'>
				<div>
					<h3 data-ng-class="{'active': faqId9 === true}">Why would I want to have a balance with Wallex?
					<span data-ng-if='faqId9 === false' class='icon-plus'></span>
					<span data-ng-if='faqId9 === true' class='icon-minus'></span></h3>
					<div ng-show='faqId9 == true' class='answer pure-u-1'>
						<p>Wallex allows you to hold balances in multiple different currencies. This enables you to hedge your foreign currency needs in advance and protect your business against unnecessary FX losses.</p>
					</div>
				</div>
			</a>
			<a class='pure-u-1 faq' ng-click="faqId10 = !faqId10" ng-init='faqId10 = false'>
				<div>
					<h3 data-ng-class="{'active': faqId10 === true}">Are my balances safe with Wallex?
					<span data-ng-if='faqId10 === false' class='icon-plus'></span>
					<span data-ng-if='faqId10 === true' class='icon-minus'></span></h3>
					<div ng-show='faqId10 == true' class='answer pure-u-1'>
                      <p>Wallex operates a Stored Value Facility (SVF) under the Payments Systems Oversight Act by the Monetary Authority of Singapore (MAS). All customer funds are kept segregated from all other Wallex accounts. Wallex is also applying for relevant licenses in Singapore, Hong Kong and Indonesia and we operate within a very strict framework both for compliance and for the safety of funds in our custody. </p>
					</div>
				</div>
			</a>
		
			<!-- <a class='pure-u-1 faq' ng-click="faqId = !faqId" ng-init='faqId = false'>
				<div>
					<h3>
					<span data-ng-if='faqId === false' class='icon-plus'></span>
					<span data-ng-if='faqId === true' class='icon-minus'></span></h3>
					<div ng-show='faqId == true' class='answer pure-u-1'>
						<p></p>
					</div>
				</div>
			</a> -->
		</div>
    
  </div>
</section>
