<section class='pure-u-1 page'>
  <div class='wrapper'>
    <h1>FAQ</h1>
    <h2>Currencies and Fees</h2>
    <table class="pure-table">
			<thead>
			  <tr>
			    <th>Currencies</th>
			    <th>Pre-fund Fees</th>
			    <th>Post-fund Fees</th>
			    <th>Admin Charges</th>
			  </tr>
			</thead>
			<tbody>
			  <tr class="pure-table-odd">
			    <td class='align-left'>USD</td>
			    <td>0.50%</td>
			    <td>0.60%</td>
			    <td>3</td>
			  </tr>
			  <tr>
			    <td class='align-left'>EUR</td>
			    <td>0.50%</td>
			    <td>0.60%</td>
			    <td>3</td>
			  </tr>
			  <tr class="pure-table-odd">
			    <td class='align-left'>AUD</td>
			    <td>0.70%</td>
			    <td>0.84%</td>
			    <td>3</td>
			  </tr>
			  <tr>
			    <td class='align-left'>GBP</td>
			    <td>0.50%</td>
			    <td>0.60%</td>
			    <td>3</td>
			  </tr>
			  <tr class="pure-table-odd">
			    <td class='align-left'>JPY</td>
			    <td>1.50%</td>
			    <td>1.80%</td>
			    <td>3</td>
			  </tr>
			  <tr>
			    <td class='align-left'>IDR</td>
			    <td>2.00%</td>
			    <td>2.40%</td>
			    <td>3</td>
			  </tr>
			  <tr class="pure-table-odd">
			    <td class='align-left'>MYR</td>
			    <td>2.00%</td>
			    <td>2.40%</td>
			    <td>3</td>
			  </tr>
			  <tr>
			    <td class='align-left'>PHP</td>
			    <td>1.00%</td>
			    <td>1.20%</td>
			    <td>3</td>
			  </tr>
			  <tr class="pure-table-odd">
			    <td class='align-left'>THB</td>
			    <td>1.50%</td>
			    <td>1.80%</td>
			    <td>3</td>
			  </tr>
				<tr>
			    <td class='align-left'>CNY</td>
			    <td>2.00%</td>
			    <td>2.40%</td>
			    <td>8</td>
			  </tr>
			  <tr class="pure-table-odd">
			    <td class='align-left'>INR</td>
			    <td>1.00%</td>
			    <td>1.20%</td>
			    <td>8</td>
			  </tr>
			  <tr>
			    <td class='align-left'>HKD</td>
			    <td>0.50%</td>
			    <td>0.60%</td>
			    <td>8</td>
			  </tr>
			</tbody>
		</table>
  </div>
</section>