<section class='pure-u-1 page'>
  <div class='wrapper'>
  	<h1>Importer and exporters</h1>
    <h2>Trade globally without borders</h2>
    <p>When importing or exporting it can be difficult to achieve a smooth and reliable cash flow. Often opportunities arise but you’re unable to take advantage of them as funds are tied up elsewhere. Bank finance, whilst helpful, can be hard to come by and is unable to react quickly to your business' needs.</p>
    <div class='pure-g feature-box'>
      <div class='pure-u-1 pure-u-md-1-3 pure-u-lg-1-3'>
        <h2 class='f-header'>
          <span class='icon-lock-open'></span>Unlock Capital
        </h2>
        <dl>
		  		<dd><span class='icon-check'></span> We finance 8 times your Wallex balance</dd>
		  		<dd><span class='icon-check'></span> Pay and repay in any of the currencies we support</dd>
		  		<dd><span class='icon-check'></span> Next day supplier payments</dd>
				</dl>
      </div>
      <div class='pure-u-1 pure-u-md-1-3 pure-u-lg-1-3'>
        <h2 class='f-header'>
          <span class='icon-line-graph'></span>Trade efficiently
        </h2>
        <dl>
				  <dd><span class='icon-check'></span> Minimize the risk of currency fluctuations</dd>
				  <dd><span class='icon-check'></span> International bulk payments solution</dd>
				  <dd><span class='icon-check'></span> Online platform with API integration capabilities</dd>
				</dl>
      </div>
      <div class='pure-u-1 pure-u-md-1-3 pure-u-lg-1-3'>
        <h2 class='f-header'>
          <span class='icon-blackboard'></span>Expert Service
        </h2>
        <dl>
				  <dd><span class='icon-check'></span> Dedicated specialist for tailored service</dd>
				  <dd><span class='icon-check'></span> Learn to hedge off currency risks properly with forwards and spot conversions</dd>
				  <dd><span class='icon-check'></span> Transparent cost structure with zero setup and upkeep cost </dd>
				</dl>
      </div>
    </div>
  </div>
</section>