<section class='pure-u-1 page'>
  <div class='wrapper'>
  	<h1>Importer and exporters</h1>
    <h2>Trade globally without borders</h2>
    <p>When importing or exporting it can be difficult to achieve a smooth and reliable cash flow. Often opportunities arise but you’re unable to take advantage of them as funds are tied up elsewhere. Bank finance, whilst helpful, can be hard to come by and is unable to react quickly to your business' needs.</p>
    <h2>Key Points</h2>
    <dl>
		  <dt>Unlock Capital</dt>
		  <dd>We finance 8 times your Wallex balance</dd>
		  <dd>Pay and repay in any of the currencies we support</dd>
		  <dd>Next day supplier payments</dd>
		</dl>

		<dl>
		  <dt>Trade efficiently</dt>
		  <dd>Minimize the risk of currency fluctuations</dd>
		  <dd>International bulk payments solution</dd>
		  <dd>Online platform with API integration capabilities</dd>
		</dl>

		<dl>
		  <dt>Expert Service</dt>
		  <dd>Dedicated specialist for tailored service</dd>
		  <dd>Learn to hedge off currency risks properly with forwards and spot conversions</dd>
		  <dd>Transparent cost structure with zero setup and upkeep cost </dd>
		</dl>

  </div>
</section>