<div id='login-form' class='pure-u-1'>
  <div>
    <form class="pure-form pure-form-stacked" ng-submit='login()'>
      <fieldset>
        <h1 id='s-logo'>Wallex</h1>
        <div class='alert no-border' ng-class='{ "error" : updateError, "update": updateSuccess }' >
          <p>{{alertMsg}}</p>
        </div>

        <label>Email address</label>
        <input type="email" ng-model='mEmail' id="email" name="email" placeholder='Enter your email address' required/>
  
        <label for="password">Password</label>
        <input type="password" ng-model='mPass' id="password" name="password" placeholder="Enter your password" required/>

        <a id='reget_password' href="">Forgot your password ?</a>
          

        <button type="submit" class="pure-button pure-button-primary">Sign up</button>
        <p></p>
      </fieldset>
    </form>
    <div id='verify-signup-msg' ng-show="userSignupStep == 2">
      <div>
        <h1 id='s-logo'>Wallex</h1>
        <p>Hello, {{mGivenName}} {{mSurname}} ! Please verify your email from link sent !</p>
      </div>
    </div>
  </div>
</div>
<footer class='pure-u-1' id='login-footer'>© Wallex 2016. All Right Reserved.</footer>