<section class='pure-u-1' id='hero'>
  <div class='pure-g wrapper'>
    <div id='hero-l' class='pure-u-1 pure-u-md-2-5 pure-u-lg-2-5 pure-u-xl-2-5'>
      <h1 id='hero-title'>WallEx</h1>
      <h2 id='hero-subtitle'>The solution for all your cross-border payments and liquidity needs.</h2>
      <p id='hero-desc'>At Wallex, our mission is to provide you with the tools required to grow your business. </p>
      <a id='learn-more' du-smooth-scroll="about" du-scrollspy><p>Learn more</p></a>
      <a id='get-in-touch' du-smooth-scroll="contact" du-scrollspy><p>Get in Touch</p></a>
    </div>
    <div id='hero-r' class='pure-u-1 pure-u-md-3-5 pure-u-lg-3-5 pure-u-xl-3-5'>   
      <img src="images/hero_prod_cropped2.png" alt="">
    </div>
  </div>
</section>
<section class='pure-u-1' id='about'>
  <div class='wrapper'>
    <h1>Why wallex</h1>
    <p id='about-desc'>With our electronic payments platform, not only do we give you access to the cheapest FX rates in the market, we also provide advice and revolving lines of credit for you to make your operations more efficient and profitable.</p>
    <div class='pure-g feature-box-left'>
      <div class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2'>
        <h2 class='f-header no-line'>
          <span class='icon-credit'></span>Cheap & Transparent
        </h2>
        <p class='f-desc'>Whatever rate we get, you get with no mark-up involved. We only charge a small processing fee to get on by.</p>
      </div>
      <div class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2'>
        <h2 class='f-header no-line'>
          <span class='icon-paper-plane'></span>Speed & Reliability
        </h2>
        <p class='f-desc'>Count on us to process your transactions fast and efficiently. And follow every stage of the transaction with our easy-to-use technologies.</p>
      </div>
      <div class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2'>
        <h2 class='f-header'>
          <span class='icon-lock'></span>Safe & Secure
        </h2>
        <p class='f-desc'>Wallex is a payments system overseen by the Monetary Authority of Singapore (MAS) under the PSOA-2009 Act. All customer funds are segregated.</p>
      </div>
      <div class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2'>
        <h2 class='f-header'>
          <span class='icon-laptop'></span>Electronic Platform
        </h2>
        <p class='f-desc'>Manage and perform all transactions with our electronic platform. Handling money has never been this easy.</p>
      </div>
      <div class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2'>
        <h2 class='f-header'>
          <span class='icon-cycle'></span>Multi-currency Management
        </h2>
        <p class='f-desc'>Hold balances in any currency you need and protect your business from unnecessary losses caused by foreign exchange volatility.</p>
      </div>
      <div class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2'>
        <h2 class='f-header'>
          <span class='icon-database'></span>Scheduled Payments
        </h2>
        <p class='f-desc'>Schedule your recurring payments with us and we will send you alerts to notify you when monthly payments hae to be made. </p>
      </div>
    </div>
  </div>
</section>
<section class='pure-u-1' id='howitworks'>
  <div class='wrapper'>
    <h1>How it works</h1>
    <div class='pure-g feature-box' ng-init="featureId=1">
      <a class='pure-u-1-3' ng-click="swiper('cash')" data-ng-class="{active: featureId == '1'}">
        <h2 class='f-header'><span class='icon-laptop'></span></h2>
      </a>
      <a class='pure-u-1-3' ng-click="swiper('transfer')" data-ng-class="{active: featureId == '2'}">
        <h2 class='f-header'><span class='icon-cycle'></span></h2>
      </a>
      <a class='pure-u-1-3' ng-click="swiper('convert')" data-ng-class="{active: featureId == '3'}">
        <h2 class='f-header'><span class='icon-database'></span></h2>
      </a>
      <div class='d-contents pure-g'>
        <div class='pure-u-1 pure-u-md-1-3 pure-u-lg-1-3 pure-u-xl-1-3'>
          <h2 class='f-header'>Tell us where to send the money</h2>
          <p class='f-desc'>Provide us with your invoice and tell us where to send the money. We only take the details we need to make a successful payment.</p>
        </div>
        <div class='swipe-wrap-content pure-u-1 pure-u-md-1-3 pure-u-lg-1-3  pure-u-xl-1-3'>
          <h2 class='f-header'>Convert</h2>
          <p class='f-desc'>Lock in the conversion rate whenever you are ready. We provide you with the best rates available in the market and will hold it for you for 4 hours.</p>
        </div>
        <div class='swipe-wrap-content pure-u-1 pure-u-md-1-3 pure-u-lg-1-3  pure-u-xl-1-3'>
          <h2 class='f-header'>Fund your payment</h2>
          <p class='f-desc'>Send money to our local bank accounts to fund your transaction. Your payment will be processed and released upon receipt of funds.</p>
        </div>
      </div>
      <div id='slider' class='swipe pure-u-1'>
        <div class='swipe-wrap'>
          <div>
            <div class='swipe-wrap-content pure-u-1 pure-u-md-1-3 pure-u-lg-1-3 pure-u-xl-1-3'>
              <h2 class='f-header'>Tell us where to send the money</h2>
              <p class='f-desc'>Provide us with your invoice and tell us where to send the money. We only take the details we need to make a successful payment.</p>
            </div>
            <img src="images/howitworks1.jpg" alt="Tell us where to send the money">
          </div>
          <div>
            <div class='swipe-wrap-content pure-u-1 pure-u-md-1-3 pure-u-lg-1-3 pure-u-xl-1-3'>
              <h2 class='f-header'>Convert</h2>
              <p class='f-desc'>Lock in the conversion rate whenever you are ready. We provide you with the best rates available in the market and will hold it for you for 4 hours.</p>
            </div>
            <img src="images/howitworks2.jpg" alt="Convert">
          </div>
          <div>
            <div class='swipe-wrap-content pure-u-1 pure-u-md-1-3 pure-u-lg-1-3 pure-u-xl-1-3'>
              <h2 class='f-header'>Fund your payment</h2>
              <p class='f-desc'>Send money to our local bank accounts to fund your transaction. Your payment will be processed and released upon receipt of funds.</p>
            </div>
            <img src="images/howitworks3.jpg" alt="Fund your payment">
          </div>
        </div>     

      </div>
    </div>
  </div>
  <br>
  <div class='wrapper regs'>
    <h2>Getting on board with Wallex</h2>
    <div class='pure-g feature-box'>
      <div class='pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 pure-u-xl-1-4'>
        <h2 class='f-header reg-h'>
          <span class='reg icon-edit'></span>Registration
        </h2>
        <p class='f-desc'>Simply register online or leave your details with us and we will reach out shortly. No setup costs and obligation to transact.</p>
      </div>
      <div class='pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 pure-u-xl-1-4'>
        <h2 class='f-header reg-h'>
          <span class='reg icon-blackboard'></span>Compliance check
        </h2>
        <p class='f-desc'>We'll run your details through our KYC framework in place for regulatory compliance to ensure that things are nice and clean.</p>
      </div>
      <div class='pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 pure-u-xl-1-4'>
        <h2 class='f-header reg-h'>
          <span class='reg icon-v-card'></span>Meet your specialist
        </h2>
        <p class='f-desc'>Our specialist will contact you after you register your details. He will have an ongoing dialogue with you to better understand your needs.</p>
      </div>
      <div class='pure-u-1 pure-u-md-1-4 pure-u-lg-1-4 pure-u-xl-1-4'>
        <h2 class='f-header reg-h'>
          <span class='reg icon-laptop'></span>Login and go
        </h2>
        <p class='f-desc'>You are all set up now to access a world of opportunities. Business without borders.</p>
      </div>

  </div>
</section>
<section class='pure-u-1' id='sectors'>
  <div class='wrapper'>
    <h1>Sectors</h1>
    <div class='pure-g sectors-box'>
      <div class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2'>
        <div>
          <h2 class='f-header'>Importer and exporters</h2>
          <p class='f-desc'>When importing or exporting it can be difficult to achieve a smooth and reliable cash flow. Often opportunities arise but you’re unable to take advantage of them as funds are tied up elsewhere. Bank finance, whilst helpful, can be hard to come by and is unable to react quickly to your business’ needs.</p>
          <a href="#/sectors/importer-and-exporters" ng-click='scroll()'>Learn more <span class='icon-chevron-right'></span></a>
        </div>
      </div>
      <div class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2'>  
        <div>
          <h2 class='f-header'>Online sellers</h2>
          <p class='f-desc'>As an online seller, you want to make sure that you are able to sell your goods in the markets with the highest profit margin. Wallex enables you to expand your business overseas by providing you with a solution for collecting payments in foreign currencies and bringing them back to you and the lowest cost possible.</p>
          <a href="#/sectors/online-sellers">Learn more <span class='icon-chevron-right'></span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class='pure-u-1' id='reviews'>
  <div class='wrapper'>
    <h1>reviews</h1>
    <div class='pure-g'>
      <div class='testmonials pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2'>
        <div>
          <p><em>We receive USD payments for our products and services while our payroll and office require SGD or INR payments. Making our conversion and payment needs through Wallex enabled us to reduce our average banking transaction fees by almost 75%. </em></p>
          <h4>Snap Innovations Pte Ltd</h4>
          </div>
      </div>
      <div class='testmonials pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2'>
        <div>
          <p><em>Having offices in both Singapore and Jakarta, we often have to send money back and forth and I am glad we found Wallex. Using Wallex saved us not only money but also time and effort.</em></p>
          <h4>Stannum Trade Pte Ltd</h4>
        </div>
      </div>
      <!-- <div class='testmonials pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2'>
        <div>
          <p><em>We regularly purchase parts and machinery from China and other parts of the world. Using Wallex to make these payments really saved me a lot of headache.</em></p>
          <h4>Morningstar FX</h4>
        </div>
      </div> -->
    </div>
  </div>
</section>
<section class='pure-u-1' id='contact'>
  <div class='wrapper'>
    <h1 class='l-align'>Contact WallEx</h1>
    <div class='pure-g'>
      <div class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2'>
        <p>
          <a href="https://www.google.com.sg/maps/place/65+Circular+Rd,+049419/data=!4m2!3m1!1s0x31da190bb620d5eb:0xfe1c33cfe266fdea?sa=X&ved=0ahUKEwiUj765wdHLAhURCI4KHfGJC6UQ8gEIGjAA" target='_blank'>
            <span class='icon-location-pin'></span>65 Circular Road #03-01<span class='address'>Singapore 049419</span></a></p>
        <p><a href="mailto:email@echoecho.com?subject=Hello+Wallex"><span class='icon-mail'></span>contact@wallextech.com</a></p>
      </div>
      <div class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2'>
        <form class="pure-form pure-form-stacked" ng-submit='submit()'>
          <fieldset>
            <!-- <label for="name">Name</label> -->
            <input id="name" class='pure-u-1' type="text" placeholder="Full Name">
      
            <!-- <label for="email">Email</label> -->
            <input id="email" class='pure-u-1' type="email" placeholder="Email address">
      
            <!-- <label for="mobile">Phone number</label> -->
            <input id="mobile" class='pure-u-1' type="text" placeholder="Phone number">
      
            <button type="submit" class="pure-u-1 pure-button pure-button-primary">Register now</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
<footer class='pure-u-1'>
  <div class='wrapper pure-g'>
    <div id='sitemap' class='pure-u-1-2 pure-u-md-1-3 pure-u-lg-1-3 pure-u-xl-1-3'>
      <h2>Sitemap</h2>
      <a du-smooth-scroll="about" du-scrollspy><p>About</p></a>
      <a du-smooth-scroll="features" du-scrollspy><p>Features</p></a>
      <a du-smooth-scroll="howitworks" du-scrollspy><p>How it works</p></a>
      <p>Sectors</p>
      <ul>
        <li><a href="#/sectors/importer-and-exporters"><p>- Importer & exporters</p></a></li>
        <li><a href="#/sectors/online-sellers"><p>- Online sellers</p></a></li>
      </ul>
      <a du-smooth-scroll="reviews" du-scrollspy><p>Reviews</p></a>
      <a href='#/blog'><p>Blog</p></a>
      <a href='#/faq'><p>FAQ</p></a>
      <a du-smooth-scroll="contact" du-scrollspy><p>Contact</p></a>
    </div>
    <div class='pure-u-1-2 pure-u-md-1-3 pure-u-lg-1-3 pure-u-xl-1-3'>
      <h2>T&C</h2>
      <a href='Terms-and-condition-WallexTech.pdf' target='_blank'><p>Terms & conditions</p></a>

      <a #/privacy-policy><p>Privacy policy</p></a>
    </div>
    <div class='pure-u-1 pure-u-md-1-3 pure-u-lg-1-3 pure-u-xl-1-3'><p id='copyright' class='pure-u-1'>&copy Wallex 2016. All Right Reserved.</p></div>
  </div>
</footer>
