<section class='pure-u-1 page'>
  <div class='wrapper'>
  	<h1>Online sellers</h1>
    <h2>We bridge the gap between borders by enabling simple and easy solutions for cross-border payments.</h2>
    <p>As an online seller, you want to make sure that you are able to sell your goods in the markets with the highest profit margin. Wallex enables you to expand your business overseas by providing you with a solution for collecting payments in foreign currencies and bringing them back to you and the lowest cost possible. </p>
    <h2>Key Points</h2>
    <div class='pure-g feature-box'>
      <div class='pure-u-1 pure-u-md-1-3 pure-u-lg-1-3'>
        <h2 class='f-header-align'>
          <span class='reg icon-swap'></span>Transfer Efficiently
        </h2>
        <dl>
		  		<dd><span class='icon-check'></span> Minimize the risk of currency fluctuations</dd>
		  		<dd><span class='icon-check'></span> Online platform – access it anytime, anywhere</dd>
				</dl>
      </div>
      <div class='pure-u-1 pure-u-md-1-3 pure-u-lg-1-3'>
        <h2 class='f-header-align'>
          <span class='reg icon-pie-chart'></span>Funds Collection
        </h2>
        <dl>
				  <dd><span class='icon-check'></span> USD collection account (selling on Amazon)</dd>
				  <dd><span class='icon-check'></span> IDR collection account (selling on Tokopedia)</dd>
				  <dd><span class='icon-check'></span> HKD and RMB collection account  (selling on Taobao)</dd>
				</dl>
      </div>
      <div class='pure-u-1 pure-u-md-1-3 pure-u-lg-1-3'>
        <h2 class='f-header-align'>
          <span class='reg icon-eye'></span>No Surprises
        </h2>
        <dl>
				  <dd><span class='icon-check'></span> Fast account set-up</dd>
				  <dd><span class='icon-check'></span> Zero upkeep/upfront cost</dd>
				</dl>
      </div>
    </div>
  </div>
</section>
