<section class='pure-u-1 page'>
  <div class='wrapper'>
  	<h1>Online sellers</h1>
    <h2>We bridge the gap between borders by enabling simple and easy solutions for cross-border payments.</h2>
    <p>As an online seller, you want to make sure that you are able to sell your goods in the markets with the highest profit margin. Wallex enables you to expand your business overseas by providing you with a solution for collecting payments in foreign currencies and bringing them back to you and the lowest cost possible. </p>
    <h2>Key Points</h2>
    <ul>
    	<li>Transfer Efficiently</li>
			<li>Minimize the risk of currency fluctuations</li>
			<li>Online platform – access it anytime, anywhere</li>
			<li>Funds Collection</li>
			<li>USD collection account (selling on Amazon)</li>
			<li>IDR collection account (selling on Tokopedia)</li>
			<li>HKD and RMB collection account  (selling on Taobao)</li>
			<li>No Surprises</li>
			<li>Fast account set-up</li>
			<li>Zero upkeep/upfront cost</li>
    </ul>
  </div>
</section>